.section{
	width:100%;
	margin-top:120px;
   border-bottom:1px solid #ccc;
	
}
.section h1{
	width:1060px;
	height:58px ;
	padding:15px ;
	color: #444444;
	font-size:28px;
	font-weight:100;
	
}
.cartShow{
	display: flex;
	width: 1060px;
	margin: 0 auto;
	justify-content: space-between;
}
.cartShowLeft{
	padding-left:30px;
	padding-bottom:70px;
}
.cartShow img{
	width: 359px;
}
.cartShowLeftBottom span{
	display: inline-block;
	width: 27px;
	height: 27px;
	vertical-align: middle;
	margin-right:5px;
	margin-left: 10px;
}
.cartShowLeftBottom a{
	color:black;
	font-size: 14px;
}
.cartShowLeftBottom .sp_01{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position: -516px -646px;
}
.cartShowLeftBottom .sp_02{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position: 0px -220px;
}.cartShowLeftBottom .sp_03{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position: 0px -722px;
}
.cartShowRight{
	padding-top:5px;
}
.cartShowRightOne{
	width: 570px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size:18px;
	display: flex;
	line-height: 60px;
}
.cartShowRightOne .color_1{
	display: inline-block;
	width: 100px;
	height: 40px;
	border: 1px solid red;
	line-height: 40px;
	margin:10px;
	text-align: center;
	display: flex;
	font-size: 14px;
}
.cartShowRightOne .color_1 img{
	width: 14px;
	height: 14px;
	margin:15px 9px;
}
.cartShowRightOne .color_1 i{
	display:inline-block;
	width: 21px;
	height: 21px;
	margin-top:20px;
	margin-left:5px ;
	
}
.cartShowRightOne .color_1 .i_01{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position:-352px -722px;
}
.cartShowRightOne .color_2 .i_02{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position:-352px -722px;
	display: none;
}
.cartShowRightOne .color_2{
	display: inline-block;
	width: 100px;
	height: 40px;
	border: 1px solid #ccc;
	line-height: 40px;
	margin:10px;
	text-align: center;
	display: flex;
	font-size: 14px;
}
.cartShowRightOne .color_2 img{
	width: 14px;
	height: 14px;
	margin:15px 9px;
}
.cartShowRightOne .color_2 i{
	display:inline-block;
	width: 21px;
	height: 21px;
	margin-top:20px;
	margin-left:5px ;
	
}

.cartShowRightTwo{
	width: 570px;
	font-size:18px;
	display: flex;
	line-height:80px;
}
.cartShowRightTwo .color_3{
	display: inline-block;
	width: 100px;
	height:60px;
	border: 1px solid red;
	line-height:60px;
	margin:10px;
	display: flex;
	font-size: 14px;
	position: relative;
}

.cartShowRightTwo i{
	display:inline-block;
	width: 21px;
	height: 21px;
	position: absolute;
	bottom: 0;
	right: 0;
	
	
}
.cartShowRightTwo span{
	margin:auto;
}
.cartShowRightTwo .color_3 .i_03{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position:-352px -722px;
}
.cartShowRightTwo .color_4 .i_04{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position:-352px -722px;
	display: none;
}
.cartShowRightTwo .color_4{
	display: inline-block;
	width: 100px;
	height: 60px;
	border: 1px solid #ccc;
	line-height: 60px;
	margin:10px;
	display: flex;
	font-size: 14px;
	position: relative;
}
.city select{
	width:120px;
	height:30px;
	border: 1px solid red;
	margin-left:20px;
	border-radius: 5px;	
}
.city{
	margin-top: 30px;
	font-size: 18px;
}
.jingxiaoshang select{
	height:30px ;
	border: 1px solid #ccc;
	border-radius: 5px;
}
.jingxiaoshang {
	padding: 30px 0px 30px 70px;
}
.jingxiaoshang a{
	margin-left: 30px;
	color:black;
	font-size: 14px;
	text-decoration: underline;
}
.shuliang{
	font-size: 18px;
	width: 100%;
	padding-bottom: 30px;
	border-bottom: 1px solid #ccc;
	
}
.shuliang input{
	width: 30px;
	height:30px;
	font-size:24px ;
	vertical-align: middle;
}
.shuliang span{
	display: inline-block;
	width: 28px;
	height:28px;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center;
}

.fangshi{
	width: 570px;
	font-size:18px;
	display: flex;
	line-height:60px;
}
.fangshi .color_5{
	display: inline-block;
	width: 100px;
	height:30px;
	border: 1px solid red;
	line-height:30px;
	margin:10px;
	display: flex;
	font-size: 14px;
	position: relative;
}

.fangshi i{
	display:inline-block;
	width: 21px;
	height: 21px;
	position: absolute;
	bottom: 0;
	right: 0;
	
	
}
.fangshi span{
	margin:auto;
}
.fangshi .color_5 .i_05{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position:-352px -722px;
}
.fangshi .color_6 .i_06{
	background: url(../img/fourDream/icon.png) no-repeat;
	background-position:-352px -722px;
	display: none;
}
.fangshi .color_6{
	display: inline-block;
	width: 100px;
	height:30px;
	border: 1px solid #ccc;
	line-height:30px;
	margin:10px;
	display: flex;
	font-size: 14px;
	position: relative;
}
.quankuan{
	padding:20px 0px 20px 100px;
	display: flex;
	}
.quankuan div{
	margin-left: 50px;
	
}
.cartShowRightBottom{
	display: flex;
	justify-content: center;
	padding-bottom:20px ;
}
.cartShowRightBottom .goShop{
	width:130px;
	height: 35px;
	background: pink;
	border: 1px solid red;
	margin-right: 20px;
}
.cartShowRightBottom .backCar{
	width:130px;
	height:35px;
	background:red;
	border: 1px solid red;
	margin-left: 20px;
}
